# Default ignored files
/shelf/
/workspace.xml
.idea
venv
playground.py
.env
local_config.py
__pycache__/
basler_cam/__pycache__/
qt_gui/__pycache__/
utilities/.ipynb_checkpoints/
/Python-Driver-for-Thorlabs-power-meter/Thorlabs_DotNet_dll/
/utilities/automations/models/
