# basic data processing
numpy==2.0.1
scipy~=1.14.0
pandas==2.2.2
openpyxl==3.1.5
# calculation acceleration
numba~=0.63.1
# gui
PyQt6~=6.7.1
# plotting
matplotlib~=3.9.2
pyqtgraph~=0.13.7
dvg-pyqtgraph-threadsafe~=3.4.0
# connection to devices
PyVISA~=1.14.1  # for NI Visa devices
pypylon~=4.0.0  # for Basler cameras
picosdk~=1.1  # for PicoScope
pythonnet~=3.0.5  # for ADI ACE for connection to ADC and DAC
# utilities
pyperclip~=1.9.0  # for copying into the clipboard
jsbeautifier~=1.15.1  # for prettier jsons
pillow~=11.3.0
opencv-python~=4.11.0.86
PyAutoGUI~=0.9.54
pynput~=1.8.1